# Ignore runtime stuff
.fabric/
.mixin.out/
coremods/
crash-reports/
fancymenu_data/
fancymenu_setups/
frozenlib_cape_cache/
logs/
moddata/
modernfix/
mods/.index
saves/
screenshots/
server-resource-packs/
shaderpacks/
texturepacks/
fabricloader.log
irisUpdateInfo.json
options.txt
optionsviveprofiles.txt
servers.dat
servers.dat_old
usercache.json

# Ignore launcher-specific files
*.log

# Ignore large unnecessary files
*.zip
*.jar.tmp